@font-face {
  font-family: "SeedFont";
  src: local("../fonts/line-seed/woff2/LINESeedSansTH_W_Rg.woff2"),
  url("../fonts/line-seed/woff2/LINESeedSansTH_W_Rg.woff2") format("truetype");
  font-weight: normal;
}


@font-face {
  font-family: "SeedFont";
  src: local("../fonts/line-seed/woff2/LINESeedSansTH_W_Bd.woff2"),
  url("../fonts/line-seed/woff2/LINESeedSansTH_W_Bd.woff2") format("truetype");
  font-weight: bold;
}
